*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
body {
    background: black;
}

.box {
    width: 350px;
    height: 500px;
    display: flex;
    align-items: center;
    flex-direction: column;

    position: absolute;
    left: 40%;
    top: 10%;
}
.per img {
    width: 240px;
    border-radius: 50%;
    border: 2px solid rgb(0, 255, 0);
    padding: 2px;
}
.listlink {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    margin-bottom: 20px;
}
.listlink .link{
    border: 2px solid rgb(0, 255, 0);
    width: 200px;
    height: 50px;
    margin: 20px;
    color: green;

    display: flex;
    justify-content: center;
    align-items: center;
    
}
.ms p {
    color: rgb(0, 255, 0);
    padding-bottom: 2px;
}
.ms {
    padding-bottom: 30px;
}
/* anime*/
section div {
    animation: fromTop .7s 1s backwards;
}
section .listlink {
    animation: fromBottom .7s backwards;
}
section .listlink a:nth-child(1) {
    animation-delay: 0;
}
section .listlink a:nth-child(2) {
    animation-delay: .4s;
}
section .listlink a:nth-child(3) {
    .8s
}
@keyframes fromTop {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }
    
    to {
        opacity: 1;
        transform: translateY(o);
    }
}
@keyframes fromBottom {
    from {
        opacity: 0;
        transform: translateY(30px);
    }
    
    to {
        opacity: 1;
        transform: translateY(o);
    }
}